# docker-compose.dev.yml
services:
  dev: # name of this service, will be used in devcontainer.json
    image: ros2_dev # the image will have this name once built
    extends:
      file: docker-compose.base.yml # extend the below service from this file
      service: base
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_NAME: ${USER_NAME}
        USER_ID: ${USER_ID}
        GROUP_NAME: ${GROUP_NAME}
        GROUP_ID: ${GROUP_ID}
      target: ros2_dev
    # debugging
    cap_add:
      - SYS_PTRACE # tracing 
      - SYS_NICE   # real time kernel patch
    ulimits:
      rtprio: 99
      rttime: -1 # corresponds to 'unlimited'
      memlock: -1 # unlimited
    # privileged: true
    # Interactive shell
    #runtime: nvidia
    entrypoint: ["/ros_entrypoint.sh"]  # use the entrypoint script
    stdin_open: true
    tty: true
    network_mode: host
    extra_hosts:
      - "${REMOTE_HOSTNAME}:${REMOTE_IP}"
    ipc: host
    user: ${USER_NAME}
    healthcheck: # periodic check to ensure container is healthy
      test: /ros_entrypoint.sh ros2 topic list || exit 1
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 1m
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw # gui
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw # xauthority permission file
      - /run/user/${USER_ID}:/run/user/${USER_ID} # wayland compability for GUI
      # - /home/${USER_NAME}/.ssh:/home/${USER_NAME}/.ssh:ro # git credentials
      - /dev:/dev # access to generic devices to container
      - $HOME/.Xauthority:/home/${USER_NAME}/.Xauthority
      #- /home/${USER_NAME}/data:/home/${USER_NAME}/data:rw
      #- /dev/bus/usb:/dev/bus/usb # for usb access, depends where its located
      # - /dev/ttyUR:/dev/ttyUR # for gripper
      #- ../workspaces:/home/${USER_NAME}/workspaces
      - ./packages:/home/${USER_NAME}/ros2_ws/src:rw # add bind mount for packages developed for recyclebot to the workspace
    device_cgroup_rules:
      - 'c 81:* rmw'  # allow access to video IO
      - 'c 189:* rmw' # allow access to USB devices
